@media (max-width: 767px) {
   .container {
       width: 550px;
   }
   
    .header {
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 15px;
            }
        }
        &__phone {
            font-size: 15px;
        }
    }
    .promo {
        &__title {
            font-size: 36px;
        }
        &__subtitle {
            font-size: 21px;
        }
        &__link {
            font-size: 14px;
        }
    }
    .promo__icons .icon {
        font-size: 13px;
        line-height: 13px;
    }   


    .button {
        width: 149px;
        &_main {
            font-size: 14px;
        }
        &_submit {
            font-size: 14px;
        }
    }
    .prerogative {
        &__different {
            margin-top: 50px;
        }
        &__icons {
            margin-right: 50px;
            font-size: 13px;
            line-height: 17px;
        }
    } 
    .slider {
        padding: 60px 0;
        &__item {
            img {
                width: 550px;
            }
        }
        
    }   
}
@media (max-width: 320px) {
    .container {
        width: 250px;
    }
    .header {
        &__logo {
            width: 100px;
        }
        &__official {
            display: none;
        }
        &__phone {
            font-size: 13px;
        }
    }
    .promo {
        &__title {
            font-size: 25px;
        }
        &__subtitle {
            font-size: 19px;
        }
        &__icons {
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            width: 200px;
        }
        
    }
    .promo__icons .icon {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .prerogative {
        &__different {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__icons {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
    .button {
        width: 117px;
        font-size: 11px
    }
    .title {
        &_left {
            line-height: 39px;
        }
    }
    .feed-forms {
        padding: 50px 0;
        &__block {
            width: 250px;
        }
    }
}